@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
:root {
  --primary-bg-color: #033579;
  --primary-text-color: #ffffff;
  --secondary-color: #38b6ff;
  --font-poppins-regular: "Poppins", sans-serif;
  --font-roboto-regular: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.underline-animation {
  position: relative;
}

.underline-animation::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-text-color);
  transition: width 0.2s ease-in-out;
}

.underline-animation:hover::before {
  width: 100%;
}
@layer base {
  body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--font-poppins-regular);
  }
}
.roboto {
  font-family: var(--font-poppins-regular);
}
